@charset 'UTF-8';

html, body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

:root {
    --background-main: #ffffff;
    --background-sidenav: #a3c29f;
    --background-nav: #09ab44;
    --shadow: #104020;
}