@charset 'UTF-8';

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
}

:root {
    --background-main: #ffffff;
    --background-sidenav: #c2dccc;
    --shadow: #0c5e27;
    --spotify-green: #1ed760;
    --pistachio: #f5fff1;
    --dark-green: #22af51;
    --black: #121212;
    --text-glow: #6ada3e;
    --button-hover: #415644;
}