@charset 'UTF-8';

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: linear-gradient(to top left, #121212, #14562a, #50a66d, #9ae3b6, #c2dccc);
}

:root {
    --background-sidenav: #c3dccca0;
    --shadow: #0c5e27;
    --spotify-green: #1ed760;
    --pistachio: #f5fff1;
    --dark-green: #22af51;
    --black: #121212;
    --text-glow: #6ada3e;
    --button: #415644;
    --button-hover: #27482c;
}