@import './defaults.css';

button {
    transition: 0.2s ease;
    background-color: #ffffff80;
}

.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: var(--spotify-green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
    box-shadow: 0 0 10px 5px var(--shadow);
}

.hamburger {
    display: block;
}
.side-nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    margin-top: 60px;
    height: calc(100vh - 60px);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1001;
    padding: 10px;
    box-sizing: border-box;
}
.side-nav {
    background-color: var(--background-sidenav);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 0 0 10px var(--shadow), inset 0 0 25px var(--background-sidenav);
    border: 2px solid var(--pistachio);
    overflow-y: scroll;
}

.side-nav h1 {
    margin: 0;
    padding: 10px;
}

.side-nav-container.open {
    transform: translateX(0);
}

.container {
    margin-top: 60px;
    display: flex;
    flex: 1;
}

main {
    flex: 1;
    margin-left: 0;
    padding: 20px;
    background-color: var(--background-main);
    min-height: calc(100vh - 60px);
    box-sizing: border-box;
}

.menu-options {
    width: 90%;
    text-align: center;
}
.menu-item {
    text-decoration: none;
    color: var(--shadow);
    transition: 0.2s ease;
}
.menu-item:hover {
    color: var(--dark-green);
    text-shadow: 0 0 100px var(--pistachio);
}
button.login {
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    background-color: var(--button);
    margin-bottom: 10px;
}

button.login:hover {
    background-color: var(--button-hover);
}
button.login:active {
    transform: scale(0.95);
}

@media (min-width: 768px) {
    .hamburger { display: none; }
    .side-nav-container { transform: translateX(0);}
    main { margin-left: 350px; }
}

@media (max-width: 767px) {
    .side-nav-container.open {
        width: calc(100vw - 40px);
    }
}
.current-track {
    margin: 20px 0;
}
.current-track h1 {
    font-weight: bold;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
}
.current-track h2 {
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: italic;
}
.play-controls {
    margin-top: 15px;
}
.play:hover {
    color: var(--button-hover);
    transform: scale(1.1);
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }

}
.curr-track-art:hover {
    animation: spin 8s linear infinite;
}
.track-art:hover {
    animation: spin 1s ease-out 1;
}